body {
  padding: 5px 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.header {
  color: white;
  background-color: #00b7ff;
  text-align: center;
  padding: 10px 0px;
}

.form {
  text-align: center;
}

select {
  width: 50%;
}

#valid-colleges {
  text-align: center;
}

a {
  color: #00b7ff;
}
